version: "3"
services:
  backend:
    build:
      context: .
    container_name: backend
    command: sh -c "python manage.py runserver 0.0.0.0:8002"
    ports:
#      - публичный\докера
      - "8003:2002"
